/* 
.progress-bar-wrapper {
  width: 50px;
  height: 1px;
  background-color: #c689c697;
  margin: 0 5px;
}


.progress-bar {
  width: 100%;
  height: 100%;
  background-color: #c689c697;
  transition: background-color 0.5s ease;
}


.progress-bar.active {
  background-color: #937DC2;
}

.slick-dots li{
  width: max-content;
  height: 20px;
}  */

.no-arrows::-webkit-outer-spin-button,
.no-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.no-arrows {
  appearance: textfield;
}